/* Reset CSS by Amaka Ndukwu */

/* making use of :where to allow for low specificity making it easy to override */


/* 1. border-box for box model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. remove default margin 
padding is optional but i do this because of lists*/

:where(:not(dialog)) {
    margin: 0;
    padding: 0;
}


/* 3. great for in-page linking */
@media(prefers-reduced-motion:no-preference) {
    :where(html) {
        scroll-behavior: smooth;
    }
}

/* 4. line height and text rendering improvement */
:where(html) {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* 5. ensure full viewport height */
:where(html, body) {
    min-block-size: 100%;
}

/* 6. improve line wrapping */
:where(h1, h2, h3,
    h4, h5, h6) {
    text-wrap: balance;
}

:where(p) {
    text-wrap: pretty;
}

:where(figure)>:where(figcaption) {
    text-wrap: balance;
}

:where(p, h1, h2, h3,
    h4, h5, h6) {
    overflow-wrap: break-word;
}



/* 7. making media elements block-level */
:where(img,
    svg,
    video,
    canvas,
    picture,
    audio,
    iframe,
    embed,
    object) {
    display: block
}

:where(img, svg, video, canvas, picture) {
    block-size: auto;
    max-inline-size: 100%;
}

/* 8. inherit font and letter spacing for form controls */
:where(input,
    button,
    textarea,
    select),
:where(input[type=file])::-webkit-file-upload-button {
    font: inherit;
    letter-spacing: inherit;
}

/* 9. textarea can only resized vertically and will grow to adjust its content */
:where(textarea) {
    resize: vertical;
   field-sizing: content;
}

/* 10. table */
:where(table) {
    width: fit-content;
    border-collapse: collapse;
}

:where(pre) {
    direction: ltr;
    max-inline-size: max-content;
    min-inline-size: 0;
    white-space: pre;
    writing-mode: horizontal-tb;
}

:where(a[href],
    area,
    button,
    input:not([type=text],
        [type=email],
        [type=number],
        [type=password],
        [type=""],
        [type=tel],
        [type=url]),
    label[for],
    select,
    summary,
    [tabindex]:not([tabindex*="-"],
        pre)) {
    cursor: pointer;
}

/*  this will disable additional non-standard gestures such as double-tap to zoom*/
:where(a[href],
    area,
    button,
    input,
    label[for],
    select,
    summary,
    textarea,
    [tabindex]:not([tabindex*="-"])) {
    touch-action: manipulation
}

/*  my own css*/
html, body{
    height: 100vh;
}

body{
    background-color: #00c1b5;
    font-family: "crimson_Text", serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

header a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 17px
}

h1{
    font-family: "Bitter", serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
    padding: 40px 20px;
}

main img{
    width: 450px;
    max-width: 500px;
    border-radius: 10px;
    
}



.text-bold{
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.text-bold p:first-child{
    margin-bottom: 8px;
    font-size: 19px;
}

.text-bold a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: inline-block;
    margin: 8px 0;
}

.text-bold p:last-child{
    margin-top: 3px;
    font-size: 16px;
}

.text-bold p:last-child a{
    text-decoration: none;
    color: white;
    margin: 0;
}



/* Footer styles */
footer{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    margin-top: -80px;
}

.left-footer-content{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: -50px;
    
}

.text-page{
    font-size: 15px;
    font-weight: 700;
    color: black;   
    margin-top: 5px;
    width: 100%;
}

.text-page p:last-child{
    font-size: 14px;
    color: gray;
}
.text-page p:last-child span{
    text-decoration: underline;
}


.left-footer-content a{
    text-decoration: underline;
    color: gray;
    font-weight: 400;
    font-size: 18px;
    padding: 15px 0;
}

/* Right footer - issue navigation */
.right-footer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding-top: 8px;
    margin-top: -50px;}

.right-footer-content a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 17px;
}






